.Container{
    max-width: 1200px;
    margin: 0 auto;
}

.LogoLeft{
    display: none;
}


@media screen and (max-width: 1020px) {
 
    
    .LogoLeft{
        display: block !important;
    }
        .styleImg{
            width: 20% !important;
            /* display: none; */
        }

          
        .styleNAv{
            padding-right: 2rem;
        }

        .styleLang{
            margin-top: 12px;
            display: flex;
            margin-right: 2rem;
            justify-content: end;
            font-weight: bold;
            color: #fbda39;
        }

      
 }

