.Container{
    max-width: 1200px;
    margin: 0 auto;
    /* height: 4rem; */
}

.LogoLeft{
    display: none;
}

.DISCOL{
    z-index: 800;
    background-color: #fff;
    width: 100%;
}

.Fliexrow{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1020px) {

    
   
  
    .LogoLeft{
        display: block !important;
    }
   
    .StyRES {
            width:40%;
            height: 20px;
            position: absolute;
            top:1.5rem;
            left: 0;
            text-align: end;
    }
     
        .styleLang{
            display: flex;
            width: 100%;
            justify-content: center;
            font-weight: bold;
            color: #fbda39;
            padding: 12px;
        }

        .styleNAv{
            margin-right: 2.5rem !important;
        }

      
 }

